html body{
    margin: 0;
    padding: 0;
}
body, html{
    height:100%;
  }

body{
    height: 100vh;
    margin: 0;
    padding: 0;
}
.meldingerLink{
color: white;
}
.hopptilmain {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

a.hopptilmain:active, 
a.hopptilmain:focus, 
a.hopptilmain:hover {
    left: 0; 
    top: 0;
    width: auto; 
    height: auto; 
    overflow: visible; 
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}

.sidebar{
    margin: 0 !important;
    padding: 0 !important;
    width: 20%;
    float: left;
    display: block;
    height: 80vh;
 
}


*:focus {
    outline: 3px solid grey;
    transition: all 0.6s linear;

  }
.skolelogo{
    width: 120px;
    height: auto;
    margin-top: 2vh;

}

.sideitem0{
    height: 12vh;
    min-height: 100px;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid black;
    background-color: #e64e4e;
}

.sideitem1{
    height: 5vh;
    min-height: 142px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
    margin-top: 10vh;
}

.sideitem2{
    height: 5vh;
    min-height: 142px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}

.sideitem3{
    height: 5vh;
    min-height: 142px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}

article{
    display: block;
    border: 1px solid black;
}


#article1{
  
    margin-top: 8%;
    height: 30vh;
    margin-left: 22.5vw;
    width: 60vw;
    border-radius: 1vw;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 8px 13px rgba(0,0,0,0.01),
         0px 18px 23px rgba(0,0,0,0.1);
   
}
#article2{
    margin-top: 8%;
    height: 30vh;
    margin-left: 22.5vw;
    width: 60vw;
    border-radius: 1vw;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 8px 13px rgba(0,0,0,0.01),
         0px 18px 23px #0000001a;

   
}

.topbar{
    background-color: #e64e4e;  /* må være lik som sideitem0 */
    padding: 0;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    margin: 0;
    /*width: calc(80vw - 1px);  */
    width: 80%;
    height: 12vh;
    min-height: 100px;
    /*border: 0.5px solid black;*/
    display: inline-block;
    border-bottom: 1px solid black;
}

.toplist{
    width: 100%;
    height: 100%;
}

.search{
    text-align: left;
}

form{
    width: 20vw;
    padding: 0;
    margin: 0;
    display: inline-block;
}

input[type=search]{
    width: 29vw;
    background-color: white;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    margin-right: 0vw;
    min-height: 50px;
}

#Epost{
  
    margin-right:calc(2.5vw+10px);
    width: 8vw;
    height: 8vh;
    display: inline-block;     /*inline block for å kunne være inline men ha block elements - altså bildet er rett over teksten*/
    text-align: center;
    margin-top: 10px;
    white-space: nowrap;
    }

    .epostIkon{
        width: 40px;
        height: auto;
        padding: 0;
        display: block;    /*bildet er barn/ inni #epost må være block så margin 0 */
        margin: 0 auto;  
    }
#MinSide{
    white-space: nowrap;
    margin-right:calc(1.5vw+10px);
    margin-left: 3vw;
  
    width: 8wv;
    height: 8wv;
    display: inline-block;     /*inline block for å kunne være inline men ha block elements*/
    text-align: center;
    margin-top: 10px;
    }
    .minsideIkon{
        width: 40px;
        height: auto;
        padding: 0;
        display: block;    /*bildet er barnet til #minside må være block så margin 0 */
        margin: 0 auto;  
    }

    #ChatMenu{
        margin-left: 24vw;
        margin-right:calc(2.5vw+10px);
        width: 8vw;
        height: 8vh;
        display: inline-block;     /*inline block for å kunne være inline men ha block elements - altså bildet er rett over teksten*/
        text-align: center;
        margin-top: 10px;
        white-space: nowrap;
            }
        
            .ChatIkon{
                width: 40px;
                height: auto;
                padding: 0;
                display: block;    /*bildet er barn/ inni #epost må være block så margin 0 */
                margin: 0 auto;  
            }


.topbar>ul>li{
    display: inline;
}

nav:after{
clear: both;
}
.hamburgerMenu{
    visibility: hidden;
    display: none !important; 
    color: black;
}
.stickyfooter{
    visibility:hidden !important; 
        display: none !important; 
}

.maincontent{
    width: 90%;
    text-align: center;
    margin-left: 5%;
}

p{
    text-align: left;
    line-height: 1.6;
}
.threeDotsImg{
    text-align: right;
    margin-left: 40vw;
    z-index: 1000;
    margin-right: 5%;
    right:0;
    color: green;
}


/*
.chat-popup{
    position: fixed;
    bottom: 0;
    max-height: 12vh;
    width: 100%;

}
*/
/*Hele chat section er tatt fra: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp*/

.buttonToChangeLayout{
    margin-top: 5%;
    font-size: 100px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 39px;
    background-color: black;
    box-shadow: 0px 20px 0px black, 0px 40px 0px black;
    cursor: pointer;
    text-align: right;
    text-align: center;
}
.toolbar{
    display: block;
    height: 10vh;
    width: 10vw;
    display: block;
    text-align: right;
    position: fixed;
    margin-left: 40vw;
    right:0;
    text-align: center;
    
    
}
.threedots{
    color: black;
    width: 3vw; 
    margin-right: 5%;
    margin-top: 5%;
 
    right:0;
}



body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


.threeDotsImg{
    color: black;
    text-align: right;
    position: fixed;
    margin-left: 40vw;
    right:-27px;
    color: green;
    font: 40px Impact;
}


.linkPopup{
    width: 2vw;
    display:inline-block;
    height: 10vh;

}


/* The popup chat - hidden by default */

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  margin-bottom: 15vh;
}

/* Add styles to the form container */
.form-container {
  width: 80vw;
  text-align: center;
  padding: 10px;
  background-color: white;
}

.displayHer{
    background-color: blue !important;
    height: 40px;
}
/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: rgb(220, 217, 217);
  opacity: 0.6;
  resize: none;
  min-height: 180px;
    
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: rgb(240, 230, 245);
  border: 2px solid black;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  margin-bottom:10px;
  font-size: 20px;
  opacity: 0.8;
}

/* tilbakeknappen */
.form-container .cancel {
  background-color: rgb(221, 242, 237);
  width: 10vw;
  margin-right: 80vw;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



/* searchfield 2 er nojs spesifik*/
#searchfield2{
    visibility: hidden !important;
    display: none !important;
}


@media only screen and (max-width: 860px){

    #searchfield{
        visibility: hidden !important;
        display: none;
    }
    #searchfield2{
        visibility: visible !important;
        display: inline-block !important;
    }
    #ChatMenu{
        visibility: visible !important;
        display: inline-block !important;
        margin-left: 50%;
    }
    main{
        height: 106vh;
    }

    input[type=search]{
margin-left: -10vw;
    width: 60vw;
    }


    .open-button{
        visibility: hidden;
        display: none;
    }



    #article1{
  
        margin-top: 8%;
        height: 30vh;
        min-height: 43px;
        margin-left: 20vw;
        width: 60vw;
        border-radius: 1vw;
        box-shadow: 0px 4px 3px rgba(0,0,0,0.1  ),
        0px 8px 13px rgba(0,0,0,0.01),
        0px 18px 23px rgba(0,0,0,0.01);
        text-align: center;
    }

    #article2{
        margin-top: 8%;
        min-height: 43px;
        height: 30vh;
        margin-left: 20vw;
        width: 60vw;
 
    
       
    }




    
    .maincontent{
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0 !important;
    }
    .maincontent{
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    main{
        margin: 0 0 0 0 !important;
        text-align: center;
    }
    #mainheader{
        text-align: center;
        margin: 10vh 0 0 0 !important;
        margin-right: 0;
        white-space: nowrap;
        margin-right: 0;
        margin-top: 20%;
    }
    #MinSide{
        white-space: nowrap;
        margin-right: 0;
        /*margin-left: calc(1vw + 30px);*/
        margin-left: 3vw;
    }
    #Epost{
       /* margin-right:4.5vw; */
        margin-left: 0;
        margin-left: 6vw;
        margin-right: 20px;
    }
    .toplist>li>a:after{
        clear: both;
    }
  
  /*  .toplist>li>a{
        visibility: hidden;
        display: none !important;
    }
    .hamburgerMenu{
        visibility:visible !important; 
        display: inline !important; 
        text-align: right;
    }

    .dropdownmenu{
   float: right;
   margin-top: 7vh;
   margin-right: 10vw;
    }

    */

.sideitem1{
    visibility:hidden !important; 
        display: none !important; 
}
.sideitem2{
    visibility:hidden !important; 
        display: none !important;  
}
.sideitem3{
    visibility:hidden !important; 
    display: none !important; 
}

.stickyfooter{
    visibility: visible !important;
    display: block !important; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footercontainer{
    position: fixed;
    bottom: 0;
    max-height: 12vh;
    width: 100%;

}

main{
    text-align: center;
}
#mainheader{
    text-align: center;
    margin-right: 0;

}
.bottomitem1{
    height: 20vh;
    min-height: 142px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    width: 33.33333%;
    position:-webkit-sticky; 
    position:sticky; 
    border-top: 1px solid black;
    background-color: rgb(215, 125, 107);
    float:left;
    box-sizing: border-box;

}

.bottomitem2{
    height: 20vh;
    min-height: 142px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
    width: 33.33333%;
    position:-webkit-sticky; 
    position:sticky; bottom:0;
    background-color: rgb(121, 179, 107);
    float: left;
    box-sizing: border-box;
}

.bottomitem3{
    height: 20vh;
    min-height: 142px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
    width: 33.33333%;
    background-color: rgb(244, 102, 140);
    float: right;
    box-sizing: border-box;
}


.minsideform1{
    white-space: nowrap;
}


.footercontainer:after {
    content: "";
    display: table;
    clear: both;
  }

.buttonToChangeLayout{
    margin-top: 5%;
    
  font-size: 100px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 39px;
  background-color: black;
  box-shadow: 0px 20px 0px black, 0px 40px 0px black;
  cursor: pointer;
  text-align: right;
  text-align: right;
 
}
.toolbar{
    display: block;
    text-align: right;
    position: fixed;
    margin-left: 40vw;
    right:9vw;
    
}
.threeDotsImg{
    color: black;
    text-align: right;
    position: fixed;
    margin-left: 40vw;
    right: 0;
    color: green;
    font: 40px Impact;
    
}



    .toplist>a{
        position: relative;
        top:50%;
    }
    .hamburgerMenu:after{
        content: "";
        clear: both;
        display: table;
    }
li{
    list-style: none;
}
 
    .sidebar{
        float: left;
        display: block;
        height: 12vh;
        min-height: 100px;
        
       
      
        
     
    }
}



@media only screen and (max-width: 620px){
    #ChatMenu{
        visibility: visible !important;
        display: inline-block !important;
        margin-left: 36%;
    }
    #Epost{
        /* margin-right:4.5vw; */
         margin-left: 0;
     }
    .maincontent{
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0 !important;
    }
body{
    width: 100wv;
}

    #Epost{
         margin-left: 0;

     }
     .toplist{
        width: calc(100vw - 120px);
        height: 100%;
     }

    .skolelogo{
        height: auto;
    
    }
    input[type=search]{
        margin-right:0px;
        position: static;
    }

    .topbar{
        width: calc(100vw - 120px)
    }

    
.sidebar{
    width: 120px;
    float: left;
    display: block;
    height: 12vh;
    min-height: 100px;
 
}
}
@media only screen and (max-width: 460px){
    #ChatMenu{
        visibility: visible !important;
        display: inline-block !important;
        margin-left: 29%;
    }

    body{
        width: 100wv;
    }
       
        #Epost{
          
             margin-left: 0;
        
         }
        }
        
        @media only screen and (max-width: 403px){
            #ChatMenu{
                visibility: visible !important;
                display: inline-block !important;
                margin-left: 9%;
            }
            #MinSide{
       position: static;
            }

            body{
                width: 100wv;
            }
               
                }

/* nojs only*/

.nojsTilbake:link { color: #0000EE; }
.nojsTilbake:visited { color: #551A8B; }
               
                    
             